.List{
    padding: 20px;
    margin: 20px 0;
}
.ListItem{
    text-align: center;
    width: 100%;
}

.ListItem ul{
    list-style: none;
    padding: 0px;
}

.ListItem ul li{
    text-align: left;
    user-select: none;
}

.ListItem ul li button.Remove{
    float: right;
    padding: 15px 25px;
    margin: 2px;
    background: #009688;
    border: 1px solid #EEE;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;

}

.ListItem ul li button.Edit{
    float: right;
    padding: 15px 25px;
    margin: 2px;
    background: #555;
    border: 1px solid #EEE;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;

}

.ListItem ul li span{
    line-height: 2;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
}

.update input{
    width: 70%;
    padding: 13px 20px;
    border: 1px solid transparent;
    border-radius: 4;
}
.update input:focus{
    outline: none;
    border: 1px solid #009688;
}
.update button{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background-color: #4caf50;
    border: 1px solid transparent;
    cursor: pointer;
}